@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-paper: #FDFBF7;
  --color-highlight-orange: #FFD479;
  --color-highlight-purple: #C084FC;
}

body {
  background-color: #1a1a1a;
  /* Dark background behind the app */
  font-family: 'Inter', sans-serif;
}

.font-serif {
  font-family: 'Merriweather', serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}